svg {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px;
    top: 0px;
    left: 0px;
}

#newCoordX {
    display: block;
    text-align: left;
    font-size: smaller;
    width: 45px;
    height: auto;
    position: fixed;
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
    top: 0px;
    left: 0px;
    z-index: 1;
}


#newCoordY {
    display: block;
    text-align: left;
    font-size: smaller;
    width: 45px;
    height: auto;
    position: fixed;
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
    top: 45px;
    left: 0px;
    z-index: 1;
}